@media only screen and (min-width: 1000px) {
    .container{
        max-width: 80%;
        margin: 0 auto;
        flex-direction: row;
    }
    
    .nav {
        display: flex;
        margin: initial;
        padding: initial;
        position: initial;
        right: initial;
        top: initial;
        width: initial;
        height: initial;
        position: inherit;
        right: initial;
        flex-direction: row;
        overflow:initial;
    }
    
    .navlink {
        list-style-type: none;
        min-width: 100px;
        margin: .5rem;
    }
    
    .navlink a {
        color: #ccc;
        text-decoration: none;
        font-size: 1.2em;
    }
    
    .burger {
        font-size: 1.2em;
        display: none;
    }
}