.debug {
    border: 2px red;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    flex: 1;
}

i {
    font-size: 1.6rem;
}

.container {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}

#home-link {
    padding: .25rem;
}

ul {
    list-style: none;
}

/* Header */
header {
    background-color: darkslategray;
    color: #ccc;
}

header h1 a:-webkit-any-link {
    color: #ccc;
}

/* nav bar */

.burger {
    display: block;
    color: #ccc;
    padding: 10px;
}

.nav {
    margin: 0;
    background-color: darkslategray;
    position: absolute;
    right: -100%;
    top: 88px;
    width: 50%;
    height: calc(100% - 88px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    transition: all 400ms;
    overflow: hidden;
}
.navlink {
    text-align: center;
}
.nav-active {
    right: 0;
}

a.link-1:-webkit-any-link,
a.link-home:-webkit-any-link
 {
    color: #ccc;
}

/* Directory */
.directory {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.directory article {
    flex: 0 0 250px;
    flex-wrap: wrap;
    margin: 1rem;
    text-align: center;
}

.directory article:nth-of-type(2n+1) { 
    border: solid slategray .5rem;
}

.directory article:nth-of-type(2n) { 
    border: solid black .5rem;
}

.item h2,
.item h3,
.item a {
    display: block
}

/* Footer */

footer {
    background-color: darkslategray;
    color: #ccc;
    font-size: 1rem;
    
}

footer > .container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.sm-links {
    display: flex;
    flex: 1 0 0;
    justify-content: space-between;
    max-width: 200px;
    padding-inline-start: 0;
}

.sm-links > li {
    color: #ccc;
}

.sm-links a {
    color: #ccc;
}

i {
    padding: 0 .5rem;
}