.debug {
    border: 2px red;
}

/* Color Pallette

body {
    background-color: #121212;

}

header,
footer {
    background-color: #627D9B;
    color: #D1E5FB;
} 
*/



.container {
    display: flex;
    flex: 1 400px;
    justify-content: space-between;
}

.title {
    display: none;
}

.whythiscolor {
    color: chartreuse;
}