@media only screen and (min-width: 641px) {
    .container {
        align-items: center;
        flex-direction: column;
    }

    .nav {
        display: flex;
        margin: initial;
        padding: initial;
        position: initial;
        right: initial;
        top: initial;
        width: initial;
        height: initial;
        position: inherit;
        right: initial;
        flex-direction: row;
        overflow:initial;
    }
    
    .navlink {
        list-style-type: none;
        min-width: 100px;
        margin: .5rem;
    }
    
    .navlink a {
        color: #ccc;
        text-decoration: none;
        font-size: 1.2em;
    }
    
    .burger {
        display: none;
    }

    .sm-links {
        flex-basis:0;
    }

    i {
        padding: 0 .5rem;
    }
}